* {
	margin: 0;
	padding: 0;

	font-family: Arial, Helvetica, sans-serif;
}

body {
	padding: 24px 36px;
	
	background-color: #f1f1f1;
	color: #212121;
}

h1 {
	margin: 12px 0;
	
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
}

h2 {
	margin: 8px 0;

	color: #515151;
	font-size: 18px;
	line-height: 24px;
}

p {
	margin: 8px 0;
	
	font-size: 16px;
	line-height: 22px;
}

@media screen and (min-width: 375px) {

	body {
		padding: 36px 48px;
	}

}

@media screen and (min-width: 428px) {
	
	h1 {
		font-size: 32px;
		line-height: 48px;
	}

	h2 {
		font-size: 24px;
		line-height: 32px;
	}

}

@media screen and (min-width: 768px) {

	body {
		padding: 48px 72px;
	}
	
	h1 {
		font-size: 48px;
		line-height: 64px;
	}

	h2 {
		font-size: 32px;
		line-height: 48px;
	}

	p {
		margin: 8px 0;
		
		font-size: 18px;
		line-height: 24px;
	}

}