@import "tailwindcss";

@theme inline {
	--animate-fade-in-up: var(--fade-in-up);
	--color-primary: var(--primary);
	--color-background: var(--background);
	--color-background-secondary: var(--background-secondary);
	--color-midgrey: var(--midgrey);
	--color-surface: var(--surface);
	--color-on-surface: var(--on-surface);
	--color-destructive: var(--destructive);
	--color-ring: var(--ring);
	--color-dark-background: var(--on-surface);
	--color-dark-on-surface: var(--dark-on-surface);
	--font-inter: var(--font-inter);
	--font-overpass: var(--font-overpass);
	--inset-shadow-lg: inset 0 0px 2px 0 rgb(0 0 0 / 0.3);
}

@layer base {
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
}

:root {
	--fade-in-up: fade-in-up 0.5s ease-out both;
	--primary: #3c6ca7;
	--background: #f1f1f1;
	--background-secondary: #e1e1e1;
	--midgrey: #6b6b6b;
	--surface: #fbfbfb;
	--on-surface: #212121;
	--destructive: #e7000b;
	--ring: var(--color-on-surface);
	--dark-on-surface: #dedede;
}

html {
	font-size: 16px;
}

@media (min-width: 1024px) {
	html {
		font-size: 17px;
	}
}

body {
	@apply bg-background text-on-surface font-inter;
	padding-top: env(safe-area-inset-top);
	padding-right: env(safe-area-inset-right);
	padding-bottom: env(safe-area-inset-bottom);
	padding-left: env(safe-area-inset-left);
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		/* biome-ignore lint/complexity/noImportantStyles: override all styles */
		animation-duration: 0.01ms !important;
		/* biome-ignore lint/complexity/noImportantStyles: override all styles */
		animation-iteration-count: 1 !important;
	}
}

@keyframes fade-in-up {
	from {
		opacity: 0;
		transform: translateY(1rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
