@import "tailwindcss";

@theme inline {
	--font-sans: var(--font-overpass);
	--color-background: #f1f1f1;
	--color-on-surface: #212121;
}

html {
	font-size: 16px;
}

body {
	@apply bg-background text-on-surface;
	padding-top: env(safe-area-inset-top);
	padding-right: env(safe-area-inset-right);
	padding-bottom: env(safe-area-inset-bottom);
	padding-left: env(safe-area-inset-left);
}
