@import '../styles/variables.scss';

.container {
	overflow: hidden;

	border-radius: 10px;
	box-shadow: 2px 2px 16px rgba(33, 33, 33, 0.25);
	min-height: 384px;

	display: flex;

	background-color: $surface-color;
}
