@import '../styles/variables.scss';

.container {
	overflow-x: scroll;
	overflow-y: hidden;

	min-height: 48px;

	display: flex;
}

.tab {
	min-width: 48px;
	max-width: 48px;

	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: $surface-color;

	&.selected {
		background-color: $background-color;
	}

	&:not(last-child) {
		border-right: 1px solid $secondary-background-color;
	}

	img {
		width: 32px;
		height: 32px;
	}

	&:hover {
		background-color: $secondary-background-color;
		cursor: pointer;
	}
}

@media screen and (min-width: 1440px) {

	.container {
		overflow-x: hidden;
		overflow-y: scroll;

		min-height: unset;

		flex-direction: column;
	}

	.tab {
		min-width: 64px;
		max-width: 64px;
		max-height: 64px;
		height: 64px;

		&:not(last-child) {
			border-right: none;
			border-bottom: 1px solid $secondary-background-color;
		}

		img {
			width: 32px;
			height: 32px;
		}
	}

}
