@import '../styles/variables.scss';

.top_bar {
	position: fixed;
	top: 0;

	width: 100%;
	
	display: block;
}

.sections_list {
	margin: 0;
	padding: 0 22px;
	width: 100%;
	height: 48px;
	box-shadow: 0 4px 16px rgba($on-surface-color, 0.25);

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: rgba($surface-color, 0.8);
	list-style-type: none;
}

.sections_list .section {
	display: inline;
}