$primary-color: #3C6CA7;
$secondary-color: #17A398;
$success-color: #32D07E;
$warn-color: #F9DC5C;
$error-color: #ED254E;

$background-color: #F1F1F1;
$secondary-background-color: #E1E1E1;
$surface-color: #FBFBFB;
$on-surface-color: #212121;
$secondary-on-surface-color: #515151;
$on-surface-color-dark: #DEDEDE;
$secondary-on-surface-color-dark: #AEAEAE;